---
http_interactions:
- request:
    method: get
    uri: https://www.sipsorcery.com/rest/v0.1/provisioning.svc/sipproviderbinding/get?where=ID%3D%22<PROVIDER_BINDING_ID>%22&count=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      apikey:
      - <SIPSORCERY_API_KEY>
  response:
    status:
      code: 200
      message:
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"Error":null,"Result":[{"BindingExpiry":123,"BindingURI":"foobar;rinstance=AAABBB","CSeq":12345,"ID":"<PROVIDER_BINDING_ID>","IsRegistered":true,"LastRegisterAttempt":"2014-02-23T23:33:12.7401371","LastRegisterTime":"2014-02-23T23:33:13.0057672","NextRegistrationTime":"2014-02-23T23:43:08.0057672","ProviderID":"<PROVIDER_ID>","ProviderName":"foobar","RegistrarSIPSocket":"udp:superip","RegistrationFailureMessage":null}],"Success":true}'
  recorded_at: Sun, 23 Feb 2014 23:34:25 GMT
- request:
    method: get
    uri: https://www.sipsorcery.com/rest/v0.1/provisioning.svc/sipproviderbinding/get?where=ProviderID%3D%22<PROVIDER_ID>%22&count=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      apikey:
      - <SIPSORCERY_API_KEY>
  response:
    status:
      code: 200
      message:
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"Error":null,"Result":[{"BindingExpiry":123,"BindingURI":"foobar;rinstance=AAABBB","CSeq":12345,"ID":"<PROVIDER_BINDING_ID>","IsRegistered":true,"LastRegisterAttempt":"2014-02-23T23:33:12.7401371","LastRegisterTime":"2014-02-23T23:33:13.0057672","NextRegistrationTime":"2014-02-23T23:43:08.0057672","ProviderID":"<PROVIDER_ID>","ProviderName":"foobar","RegistrarSIPSocket":"udp:superip","RegistrationFailureMessage":null}],"Success":true}'
  recorded_at: Sun, 23 Feb 2014 23:55:53 GMT
recorded_with: VCR 2.6.0
