---
http_interactions:
- request:
    method: post
    uri: https://www.sipsorcery.com/rest/v0.1/provisioning.svc/sipprovider/add
    body:
      encoding: UTF-8
      string: ! '{"ProviderName":"foo","ProviderUsername":"bar","ProviderPassword":"provider_password","ProviderServer":"provider_server","ProviderType":"provider_type","RegisterContact":"register_contact"}'
    headers:
      apikey:
      - <SIPSORCERY_API_KEY>
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message:
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"Error":null,"Result":"<ID>","Success":true}'
  recorded_at: Sun, 16 Feb 2014 08:30:32 GMT
- request:
    method: post
    uri: https://www.sipsorcery.com/rest/v0.1/provisioning.svc/sipprovider/add
    body:
      encoding: UTF-8
      string: ! '{"ProviderName":"foo","ProviderUsername":"bar","ProviderPassword":"bra","ProviderServer":"provider_server","ProviderType":"provider_type","RegisterContact":"register_contact"}'
    headers:
      apikey:
      - <SIPSORCERY_API_KEY>
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message:
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"Error":"An error occurred while updating the entries. See the inner
        exception for details.","Result":null,"Success":false}'
  recorded_at: Sun, 16 Feb 2014 08:34:14 GMT
recorded_with: VCR 2.6.0
