---
http_interactions:
- request:
    method: get
    uri: https://www.sipsorcery.com/rest/v0.1/provisioning.svc/sipprovider/get?where=ID%3D%22<PROVIDER_ID>%22&count=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      apikey:
      - <SIPSORCERY_API_KEY>
  response:
    status:
      code: 200
      message:
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"Error":null,"Result":[{"CustomHeaders":null,"GVCallbackNumber":"","GVCallbackPattern":".*","GVCallbackType":"Home","ID":"<PROVIDER_ID>","ProviderAuthUsername":"","ProviderFrom":"","ProviderName":"provider_name","ProviderOutboundProxy":null,"ProviderPassword":"provider_password","ProviderServer":"sip:ip","ProviderType":"SIP","ProviderUsername":"provider_username","RegisterContact":null,"RegisterEnabled":false,"RegisterExpiry":0,"RegisterRealm":"","RegisterServer":null}],"Success":true}'
  recorded_at: Sun, 16 Feb 2014 00:49:13 GMT
recorded_with: VCR 2.6.0
