---
http_interactions:
- request:
    method: post
    uri: https://www.sipsorcery.com/rest/v0.1/provisioning.svc/sipprovider/update
    body:
      encoding: UTF-8
      string: ! '{"ProviderName":"barbar","ProviderPassword":"provider-passw","ProviderServer":"fjsdkjfqmslk","ProviderType":"SIP","ProviderUsername":"provider_username","RegisterEnabled":false,"RegisterExpiry":0,"ID":"<PROVIDER_ID>"}'
    headers:
      apikey:
      - <SIPSORCERY_API_KEY>
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message:
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"Error":null,"Result":"<PROVIDER_ID>","Success":true}'
  recorded_at: Sun, 16 Feb 2014 10:09:30 GMT
recorded_with: VCR 2.6.0
