---
http_interactions:
- request:
    method: post
    uri: https://www.sipsorcery.com/rest/v0.1/provisioning.svc/sipprovider/update
    body:
      encoding: UTF-8
      string: ! '{"ProviderName":"barbar","ProviderPassword":"provider_password","ProviderServer":"provider_server","ProviderType":"provider_type","ProviderUsername":"bar","RegisterContact":"register_contact","RegisterEnabled":false,"RegisterExpiry":0,"ID":"<PROVIDER_ID>"}'
    headers:
      apikey:
      - <SIPSORCERY_API_KEY>
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"Error":null,"Result":"<PROVIDER_ID>","Success":true}'
  recorded_at: Sat, 22 Feb 2014 22:15:14 GMT
recorded_with: VCR 2.6.0
