---
http_interactions:
- request:
    method: post
    uri: https://www.sipsorcery.com/rest/v0.1/accounting.svc/customeraccount/add
    body:
      encoding: UTF-8
      string: ! '{"AccountName":"foo","Credit":4.0}'
    headers:
      apikey:
      - <SIPSORCERY_API_KEY>
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message:
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"Error":null,"Result":"<CUSTOMER_ID>","Success":true}'
  recorded_at: Sun, 23 Feb 2014 01:13:59 GMT
- request:
    method: post
    uri: https://www.sipsorcery.com/rest/v0.1/accounting.svc/customeraccount/add
    body:
      encoding: UTF-8
      string: ! '{"AccountName":"foo","Credit":3.0}'
    headers:
      apikey:
      - <SIPSORCERY_API_KEY>
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message:
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"Error":"The account name is already in use.","Result":null,"Success":false}'
  recorded_at: Sun, 23 Feb 2014 01:14:08 GMT
recorded_with: VCR 2.6.0
