---
http_interactions:
- request:
    method: get
    uri: https://www.sipsorcery.com/rest/v0.1/accounting.svc/customeraccount/get?where=ID%3D%22<CUSTOMER_ID>%22&count=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      apikey:
      - <SIPSORCERY_API_KEY>
  response:
    status:
      code: 200
      message:
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"Error":null,"Result":[{"AccountCode":"foobar","AccountName":"foo","AccountNumber":null,"Credit":4.00000,"ID":"<CUSTOMER_ID>","Inserted":"2014-02-23T01:13:59.8470018+00:00","PIN":null}],"Success":true}'
  recorded_at: Sun, 23 Feb 2014 01:21:50 GMT
recorded_with: VCR 2.6.0
