---
http_interactions:
- request:
    method: get
    uri: https://www.sipsorcery.com/rest/v0.1/provisioning.svc/sipaccountbinding/count
    body:
      encoding: US-ASCII
      string: ''
    headers:
      apikey:
      - <SIPSORCERY_API_KEY>
  response:
    status:
      code: 200
      message:
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"Error":null,"Result":1234,"Success":true}'
  recorded_at: Sun, 09 Feb 2014 05:45:17 GMT
recorded_with: VCR 2.6.0
