---
http_interactions:
- request:
    method: post
    uri: https://www.sipsorcery.com/rest/v0.1/provisioning.svc/dialplan/add
    body:
      encoding: UTF-8
      string: ! '{"DialPlanName":"foo","DialPlanScript":"sys.Dial(\"music@iptel.org\");
        sys.Respond(404, \"No one home\")"}'
    headers:
      apikey:
      - <SIPSORCERY_API_KEY>
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message:
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"Error":null,"Result":"<DIALPLAN_ID>","Success":true}'
  recorded_at: Sat, 22 Feb 2014 22:27:01 GMT
- request:
    method: post
    uri: https://www.sipsorcery.com/rest/v0.1/provisioning.svc/dialplan/add
    body:
      encoding: UTF-8
      string: ! '{"DialPlanName":"foo","DialPlanScript":"bra"}'
    headers:
      apikey:
      - <SIPSORCERY_API_KEY>
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message:
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"Error":"An error occurred while updating the entries. See the inner
        exception for details.","Result":null,"Success":false}'
  recorded_at: Sat, 22 Feb 2014 22:27:03 GMT
recorded_with: VCR 2.6.0
