---
http_interactions:
- request:
    method: get
    uri: https://www.sipsorcery.com/rest/v0.1/provisioning.svc/dialplan/delete?id=<DIALPLAN_ID>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      apikey:
      - <SIPSORCERY_API_KEY>
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"Error":null,"Result":true,"Success":true}'
  recorded_at: Sat, 22 Feb 2014 21:43:43 GMT
recorded_with: VCR 2.6.0
