---
http_interactions:
- request:
    method: get
    uri: https://www.sipsorcery.com/rest/v0.1/provisioning.svc/cdr/count
    body:
      encoding: US-ASCII
      string: ''
    headers:
      apikey:
      - bar
  response:
    status:
      code: 200
      message:
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"Error":"The apikey header value was not recognised as belonging
        to a valid account.","Result":0,"Success":false}'
  recorded_at: Sat, 01 Feb 2014 22:58:55 GMT
- request:
    method: get
    uri: https://www.sipsorcery.com/rest/v0.1/provisioning.svc/cdr/count
    body:
      encoding: US-ASCII
      string: ''
    headers:
      apikey:
      - <SIPSORCERY_API_KEY>
  response:
    status:
      code: 200
      message:
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"Error":null,"Result":1234,"Success":true}'
  recorded_at: Sun, 09 Feb 2014 06:12:20 GMT
recorded_with: VCR 2.6.0
