---
http_interactions:
- request:
    method: get
    uri: https://www.sipsorcery.com/rest/v0.1/accounting.svc/rate/delete?id=<RATE_ID>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      apikey:
      - <SIPSORCERY_API_KEY>
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"Error":null,"Result":true,"Success":true}'
  recorded_at: Sun, 23 Feb 2014 22:07:09 GMT
recorded_with: VCR 2.6.0
