---
http_interactions:
- request:
    method: get
    uri: https://www.sipsorcery.com/rest/v0.1/accounting.svc/rate/get?where=ID%3D%22<RATE_ID>%22&count=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      apikey:
      - <SIPSORCERY_API_KEY>
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"Error":null,"Result":[{"Description":"foo","ID":"<RATE_ID>","IncrementSeconds":1,"Inserted":"2014-02-23T21:47:53.3581120+00:00","Prefix":"777","Rate":2.00000,"RateCode":null,"SetupCost":0.00000}],"Success":true}'
  recorded_at: Sun, 23 Feb 2014 21:52:09 GMT
recorded_with: VCR 2.6.0
