---
http_interactions:
- request:
    method: post
    uri: https://www.sipsorcery.com/rest/v0.1/provisioning.svc/sipaccount/add
    body:
      encoding: UTF-8
      string: ! '{"SIPUsername":"foo","SIPPassword":"bar"}'
    headers:
      apikey:
      - <SIPSORCERY_API_KEY>
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message:
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"Error":null,"Result":"aaaaaaaa-613d-43a3-8aa7-75f5b8ed66gd","Success":true}'
  recorded_at: Sun, 02 Feb 2014 05:35:59 GMT
- request:
    method: post
    uri: https://www.sipsorcery.com/rest/v0.1/provisioning.svc/sipaccount/add
    body:
      encoding: UTF-8
      string: ! '{"SIPUsername":"foo","SIPPassword":"bra"}'
    headers:
      apikey:
      - <SIPSORCERY_API_KEY>
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message:
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"Error":"Sorry the requested username and domain combination is
        already in use.","Result":null,"Success":false}'
  recorded_at: Sun, 02 Feb 2014 05:38:34 GMT
recorded_with: VCR 2.6.0
