---
http_interactions:
- request:
    method: get
    uri: https://www.sipsorcery.com/rest/v0.1/provisioning.svc/sipaccount/get?where=ID%3D%22<ID>%22&count=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      apikey:
      - <SIPSORCERY_API_KEY>
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"Error":null,"Result":[{"AccountCode":null,"AvatarURL":null,"Description":null,"DontMangleEnabled":false,"ID":"<ID>","IPAddressACL":null,"InDialPlanName":"fooplan","IsIncomingOnly":false,"IsSwitchboardEnabled":false,"IsUserDisabled":false,"NetworkID":null,"OutDialPlanName":"barplan","SIPDomain":"foodomain","SIPPassword":"password","SIPUsername":"username","SendNATKeepAlives":false}],"Success":true}'
  recorded_at: Sat, 08 Feb 2014 23:36:14 GMT
recorded_with: VCR 2.6.0
