---
http_interactions:
- request:
    method: get
    uri: https://www.sipsorcery.com/rest/v0.1/provisioning.svc/sipaccount/get?where%5BSIPUsername%5D=<SIPUsername>&count=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      apikey:
      - <SIPSORCERY_API_KEY>
  response:
    status:
      code: 200
      message:
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"Error":null,"Result":[{"AccountCode":null,"AvatarURL":null,"Description":null,"DontMangleEnabled":false,"ID":"aaaaaaaa-613d-43a3-8aa7-75f5b8ed66gd","IPAddressACL":"","InDialPlanName":"0fsfsd","IsIncomingOnly":false,"IsSwitchboardEnabled":true,"IsUserDisabled":false,"NetworkID":"","OutDialPlanName":null,"SIPDomain":"fdsfsd","SIPPassword":"fdsfsd","SIPUsername":"0000t","SendNATKeepAlives":false}],"Success":true}'
  recorded_at: Sun, 02 Feb 2014 01:19:33 GMT
recorded_with: VCR 2.6.0
