---
http_interactions:
- request:
    method: post
    uri: https://www.sipsorcery.com/rest/v0.1/provisioning.svc/sipaccount/update
    body:
      encoding: UTF-8
      string: ! '{"DontMangleEnabled":false,"InDialPlanName":"fooplan","IsIncomingOnly":false,"IsSwitchBoardEnabled":false,"IsUserDisabled":false,"OutDialPlanName":"barplan","ID":"<ID>","SIPDomain":"foodomain","SIPUsername":"username","SIPPassword":"password","AvatarURL":"foo","SendNATKeepAlives":false}'
    headers:
      apikey:
      - <SIPSORCERY_API_KEY>
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message:
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"Error":null,"Result":"<ID>","Success":true}'
  recorded_at: Sun, 09 Feb 2014 00:22:49 GMT
